*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
src/assets/img/AIdeaText_Logo_vectores.png filter=lfs diff=lfs merge=lfs -text
src/assets/img/AIdeaTextCard.jpg filter=lfs diff=lfs merge=lfs -text
src/assets/img/ALPHA_Startup[[:space:]]Badges.png filter=lfs diff=lfs merge=lfs -text
src/assets/img/assets_img_logo_92x92.ico filter=lfs diff=lfs merge=lfs -text
src/assets/img/socialmedia/_MG_2535.jpg filter=lfs diff=lfs merge=lfs -text
src/assets/img/socialmedia/_MG_2585.jpg filter=lfs diff=lfs merge=lfs -text
src/assets/img/socialmedia/_MG_2587.jpg filter=lfs diff=lfs merge=lfs -text
src/assets/img/socialmedia/_MG_2590.jpg filter=lfs diff=lfs merge=lfs -text
src/assets/img/socialmedia/_MG_2678.jpg filter=lfs diff=lfs merge=lfs -text
src/assets/img/socialmedia/_MG_2727.jpg filter=lfs diff=lfs merge=lfs -text
src/assets/img/socialmedia/_MG_2735.jpg filter=lfs diff=lfs merge=lfs -text
src/assets/img/socialmedia/_MG_2790.jpg filter=lfs diff=lfs merge=lfs -text
src/assets/img/socialmedia/_MG_2845.JPG filter=lfs diff=lfs merge=lfs -text
src/assets/img/socialmedia/AIdeaTextCard.jpg filter=lfs diff=lfs merge=lfs -text
src/assets/img/socialmedia/Facebook_CoverPhoto_820x312.jpg filter=lfs diff=lfs merge=lfs -text
src/assets/img/socialmedia/Facebook_CoverPhoto-1_820x312.jpg filter=lfs diff=lfs merge=lfs -text
assets/img/AIdeaText_Logo_vectores.png filter=lfs diff=lfs merge=lfs -text
assets/img/AIdeaTextCard.jpg filter=lfs diff=lfs merge=lfs -text
assets/img/ALPHA_Startup[[:space:]]Badges.png filter=lfs diff=lfs merge=lfs -text
assets/img/assets_img_logo_92x92.ico filter=lfs diff=lfs merge=lfs -text
assets/img/socialmedia/_MG_2535.jpg filter=lfs diff=lfs merge=lfs -text
assets/img/socialmedia/_MG_2585.jpg filter=lfs diff=lfs merge=lfs -text
assets/img/socialmedia/_MG_2587.jpg filter=lfs diff=lfs merge=lfs -text
assets/img/socialmedia/_MG_2590.jpg filter=lfs diff=lfs merge=lfs -text
assets/img/socialmedia/_MG_2678.jpg filter=lfs diff=lfs merge=lfs -text
assets/img/socialmedia/_MG_2727.jpg filter=lfs diff=lfs merge=lfs -text
assets/img/socialmedia/_MG_2735.jpg filter=lfs diff=lfs merge=lfs -text
assets/img/socialmedia/_MG_2790.jpg filter=lfs diff=lfs merge=lfs -text
assets/img/socialmedia/_MG_2845.JPG filter=lfs diff=lfs merge=lfs -text
assets/img/socialmedia/AIdeaTextCard.jpg filter=lfs diff=lfs merge=lfs -text
assets/img/socialmedia/Facebook_CoverPhoto_820x312.jpg filter=lfs diff=lfs merge=lfs -text
assets/img/socialmedia/Facebook_CoverPhoto-1_820x312.jpg filter=lfs diff=lfs merge=lfs -text
assets/img/socialmedia/WebSummit[[:space:]]ShowCase[[:space:]]2025.png filter=lfs diff=lfs merge=lfs -text
assets/img/WebSummit[[:space:]]ShowCase[[:space:]]2025.png filter=lfs diff=lfs merge=lfs -text
assets/img/socialmedia/image_pycon_2024.png filter=lfs diff=lfs merge=lfs -text
assets/img/socialmedia/WebSummit_ShowCase_2025.png filter=lfs diff=lfs merge=lfs -text
pitchDeck-2025/AIdeaText-EDU_PitchDeck_English_minV_sep-2025.pptx filter=lfs diff=lfs merge=lfs -text
assets/img/socialmedia/_MG_2585_v1.png filter=lfs diff=lfs merge=lfs -text
assets/img/AIdeaText_Asesoria.jpg filter=lfs diff=lfs merge=lfs -text
assets/img/AIdeaText_Asesoria.png filter=lfs diff=lfs merge=lfs -text
